<%- include('partials/header', { title: guild.name }) -%>

<body>
    <%- include('partials/main-toolbar') -%>

    <section class="dashboard-form c-gray-1">
        <%- include('partials/guild-toolbar') -%>

        <div class="content">
            <h2>Вики-логи</h2>

            <form method="post" id="1">
                <div class="item c-gray-2">
                    <h3>Простой режим</h3>
                    <p>Включив простой режим, вместо эмбедов будет использоваться текст.</p>
                    <label>Вкл./выкл.</label>
                    <input class="switch" type="checkbox" name="simple" id="simple" value="<%=wl.simple %>" <% if(wl.simple) { %>checked<% } %>>
                    <label class="switch" for="simple"></label>
                </div>

                <div class="item c-gray-2">
                    <h3>Домен</h3>
                    <p>Укажите домен вики. По умолчанию используется <b>community.fandom.com</b>.</p>
                    
                    <label>Домен</label>
                    <input type="text" name="domain" id="domain" value="<%=domain %>" size="50" maxlength="50">
                    <!-- <button class="mini c-gray-1" type="button" onclick="wikiCheck()">Проверить</button> -->
                    <span class="errorText hidden" id="errorText">Вики не найдена!</span>
                </div>

                <div class="item c-gray-2">
                    <h3>Канал</h3>
                    <p>В каком канале будет работать команда <b>/verification</b>. Если ничего не выбрано, команда будет работать в любом канале.</p>

                    <label>Канал</label>
                    <select name="channel_id">
                        <% channels.forEach(channel => { %>
                            <option <% if(wl.channel_id == channel.id) { %>selected<% } %> value="<%=channel.id %>"><%=`# ${channel.name}` %></option>
                        <% }) %>
                    </select>
                </div>
            </form>
            <button class="big c-purple" type="submit" form="1">Сохранить</button>
            <span class="successText hidden" id="successText">Настройки сохранены!</span>
        </div>
    </section>
    
    <%- include('partials/footer') -%>
</body>
<script src="/public/js/dashboardFunctions.js"></script>
<% if(status == 'error') { %><script>showError()</script><% } %>
<% if(status == 'success') { %><script>showSuccess()</script><% } %>